* {
  box-sizing: border-box;
}

/* The ...  */
.intro {
  margin: 12px;
  padding: 12px;
  width: 100%;
  height: fit-content;
}

.intro p {
  margin: 0 12px 0;
  padding: 0 12px 0;
  width: 100%;
  text-align: justify;
  font-size: 24px;
}

.experiences-both {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  margin: 12px 24px;
  padding: 24px 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
  /* width: 576px; */
  height: fit-content;
}

.experience h2 {
  margin-bottom: 24px;
}

.item-date {
  min-width: 200px;
  max-width: 200px;
  max-height: 24px;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  padding: 12px 0;
  width: 100%;
}

.item-details a {
  margin-bottom: 8px;
  color: black;
}

.item-details a:hover {
  text-decoration: none;
}

.resume {
  font-size: 24px;
  width: 100%;
  height: fit-content;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resume-link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  text-decoration: none;
}

#resume-link p {
  padding: 12px;
}

#resume-link:hover {
  text-decoration: none;
  color: white;

  /* font-weight: bold; */
}

.fa-regular {
  padding: 12px;
  font-size: 32px;
}

@keyframes {
  /*  */
}

/* Media breakpoint for tablets */
@media screen and (min-width: 576px) {
}

/* Media breakpoint for desktops */
@media screen and (min-width: 992px) {
  .experiences-both {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .academia {
    border-right: 1px solid black;
  }
}
