body {
  /* background-image: url(../images/forest2.png);
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-size: auto;
  background-repeat: no-repeat; */
}

/* The intro ... */
.intro {
  padding: 12px;
  /* display: block; */
  /* overflow-wrap: break-word; */
}

.intro p {
  /* font-size: 16px; */
  /* width: auto; */
  /* display: block; */
  /* overflow-wrap: break-word; */
}

.experiences-both {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience {
  margin: 20px 24px;
  padding: 32px 24px 0px;
  width: 100%;
  height: fit-content;
  border-top: 1px solid black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 12px;
}

.item-date {
  /* padding: 12px 0 4px; */
  padding-top: 16px;
  /* border-bottom: 1px solid black; */

  display: flex;
  justify-content: center;
}

.item-details {
  margin-bottom: 12px 0 12px;
  padding: 4px 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details a {
  margin-bottom: 8px;
  color: black;
}

.item-details a:hover {
  text-decoration: none;
}

.resume-container {
  width: 100%;

  display: flex;
}

.employment {
  margin-top: 0;
}

.resume {
  margin: 0 24px;
  padding: 32px 24px 20px;
  font-size: 24px;
  width: 100%;
  height: fit-content;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#resume-link {
  color: black;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#resume-link h2 {
  /* padding: 12px; */
}

#resume-link:hover {
  text-decoration: underline;
  /* color: white; */
  /* font-weight: bold; */
}

.fa-regular {
  padding: 0 12px 12px;
  font-size: 32px;
}

@keyframes {
  /*  */
}

/* Media breakpoint for tablets */
@media screen and (min-width: 576px) {
  .experiences-both {
    /* flex-direction: row; */
  }
}

/* Media breakpoint for desktops */
@media screen and (min-width: 992px) {
  .experiences-both {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .experience {
    border-top: none;
    max-width: 30%;
  }

  .academia {
    border-right: 1px solid black;
    margin-right: 0;
    margin-bottom: 8px;
    padding-right: 24px;
    padding-bottom: 32px;
  }

  .employment {
    margin-left: 0;
    padding-left: 0;
  }

  .resume {
    border: none;
    /* padding: 20px; */
  }
}
