
/* The ...  */
.blog {
  padding: 24px 32px 32px 32px;
  margin: 0 32px 32px 32px;
}

.blog:hover {
  background-color: var(--);
}

.blog img {
  margin: 24px 0;
  border-radius: 24px;
  width: 100%;
}

@media screen {
  .intro {
    /*  */
  }
}
