/* main {
  display: flex;
  flex-direction: column;
} */

.all-projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 48px;
  padding: 0 48px 48px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 0 64px 0 64px; */
  border-radius: 24px;
  width: 500px;
  color: var(--background3);
  background-color: var(--background5);
  padding: 24px;
}

.project:hover {
  background-color: var(--background6);
}

.tool {
  background-color: var(--background4);
  color: var(--background6);
  /* border-radius: 0 48px 0 48px; */
  border-radius: 24px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 440px;
}

.tool:hover {
  background-color: var(--background6);
}

.tool p {
  padding: 16px;
  font-size: 20px;
}

.tool:hover > p {
  color: var(--background3);
}

.tool a {
  display: flex;
  justify-content: center;
}

.snapshot-image {
  margin: 8px 0 32px 0;
  /* border-radius: 0 48px 0 48px; */
  border-radius: 24px;
}

.snapshot-image:hover {
  box-shadow: 0px 0px 8px 8px var(--background4);
}

@media screen {
}
