/* The global selector resets margin and padding, and defines colors and fonts to be used throughout the website  */
* {
  margin: 0;
  padding: 0;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* --background3: #002000; */
  --background3: black;
  /* --background4: #004000; */
  --background4: #374f08;
  --background5: #578718;
  --background6: #dcffdc;
  --gradient1: #93a967;
  --gradient2: #c9be46;
  --logo-color: #f1faea;
}

/* The body selector defines background color and mobile-first flex behaviour */
body {
  background: rgb(251, 255, 212);

  /* background: linear-gradient(
    to left bottom,
    var(--gradient2),
    var(--gradient1)
  ); */

  /* background: linear-gradient(
    to left bottom,
    var(--background3),
    var(--background5)
  ); */

  /* color: var(--background3); */
  /* ^^ undersdtand and fix this font color / global or not? */
  /* margin: 12px; */
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
}

/* The header selector ... */
header {
  /* Margin-bottom is 9px because the logo <a> tag is adding 3px */
  margin: 0 12px 9px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* The logo ... */
/* .logo {
  margin: 0px 8px 0 0;
  border-radius: 12px;
  box-shadow: 0 0 4px var(--background3);
  width: 31px;
} */

/* The :hover pseudoclass ...  */
/* .logo img:hover {
  opacity: 0.8;
} */

/* The navigation bar ...  */
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  row-gap: 12px;
  /* ^^ why not working on iPhone? */
}

/* The ... */
nav a {
  padding: 8px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 12px;
  /* box-shadow: 0 0 4px var(--background3); */
  height: fit-content;
  font-size: 16px;
}

/* The ... */
nav a:hover {
  /* background: var(--background3); */
  color: var(--background6);
}

/* The ... */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.socials-and-copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  /* ^^ check iphone and maybe delet this or fix */
  gap: 12px;
  padding-top: 16px;
}

.socials-and-copyright p {
  font-size: 20px;
}

.socials-and-copyright a i {
  color: black;
  font-size: 40px;
  padding: 4px;
}

.socials-and-copyright a i:hover {
  font-weight: bold;
  font-size: 48px;
  /* color: var(--background6); */
}

.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

/* Media breakpoint for tablets */
@media screen and (min-width: 576px) /* and (max-width: 991.98) */ {
  /* This max-midth keeps the elements the same width as the mobile max */
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 528px;
  }

  nav {
    min-height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
    align-items: flex-start;
  }

  nav a {
    margin: 12px;
  }

  main {
    /* flex-direction: row; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* Media breakpoint for desktops */
@media screen and (min-width: 992px) {
  header {
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }

  .logo {
    /* width: 300px; */
  }

  nav {
    margin: 0;
    flex-direction: row;
  }

  nav a {
    margin: 0 0 0 16px;
  }
}
