* {
  margin: 0;
  padding: 0;
  --background1: #1c4b7e;
  --background2: #6edfd6;
  --background3: #002000;
  --background4: #004000;
  --background5: #52c652;
  --background6: #dcffdc;
  --brown1: #523425;
  --yellow1: yellow;
  --white1: #ffffff;
  --black1: #000000;
  --green-light: #5cde72;
  --green-dark: #268416;
  --blue-light: #25b6e2;
  --blue-dark: #0c0c9e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--background6);
}

header {
  background: var(--background4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--background6);
}

.logo:hover {
  opacity: 0.8;
}

.logo a img {
  margin: 30px;
  border-radius: 0 96px 0 96px;
  width: 100%;
  max-width: 300px;
}

.heading {
  padding-bottom: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--background5);
  font-size: 24px;
}

nav a {
  padding: 12px;
  text-decoration: none;
  color: var(--background3);
}

nav a:hover {
  background: var(--background4);
  color: var(--background6);
  border-radius: 0 0 24px 24px;
}

.nav-tab {
  background: var(--background6);
  border-radius: 0 24px 0 24px;
}

main {
  background: var(--background6);
  padding: 12px 12px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  padding: 12px 32px 32px;
}

.intro p {
  padding-bottom: 0;
  color: var(--background3);
}

.intro ul {
  padding-left: 64px;
}

footer {
  background: var(--background5);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
}

footer p {
  font-size: 20px;
  color: var(--background3);
}

.social-media {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  gap: 24px;
}

.social-media a i {
  color: var(--background3);
  font-size: 40px;
}

.social-media a i:hover {
  font-weight: bold;
  font-size: 48px;
  color: var(--background6);
}

/* Media breakpoint for tablets */
/* vv do i need the "only" keyword? */
/* @media screen and (min-width: 576px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
} */

/* Media breakpoint for desktops */
/* add/subtract 0.02? see bootstrap site */
/* @media screen and (min-width: 992px) {

} */
